.container {
    justify-content: left;
    text-align: left;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    padding: 40px 0;
}

.header h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 200;
}

.header p {
    font-size: 18px;
    color: #666;
}

.main-content {
    padding: 20px 0;
}

.main-content h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.main-content p {
    font-size: 16px;
    line-height: 1.6;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.team-member {
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
    text-align: center;
}

.team-member img {
    max-width: 100%;
    border-radius: 50%;
}

.team-member h3 {
    margin-top: 10px;
    font-size: 20px;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: #fff;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 700px) {

    .container {
        justify-content: left;
        text-align: center;
    }
}