.form {
    border: 3px solid #f1f1f1;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 20%;
    margin-right: 20%;
    background-color: linen;
}

.formSign {
    align-items: center;
    margin-bottom: 10%;
    margin-left: 20%;
    margin-right: 20%;
}

.user,
.pass {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 10px;
}

.button {
    background-color: #ea9723;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.button:hover {
    opacity: 0.8;
}

.cancelbtn:hover {
    opacity: 0.8;
}

.signupBtn:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
    border-radius: 10px;
    border: none;
    color: white;
}

.imgcontainer {
    text-align: center;
}


.avatar {
    width: 40%;
    border-radius: 10%;
}


.container {
    padding: 16px;
}

.signupBtn {
    background-color: #00063F;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 10px;
}

.pswS {
    float: right;
    padding-top: 16px;
}

.pswS a {

    color: #f44336;
}

.pswS a:hover {

    color: #f44336;
}

@media screen and (max-width: 768px) {
    .pswS {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
        border: none;
        color: white;
    }

    .signupBtn {
        width: 100%;
        border: none;
    }

    
}